<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up in a MiniBank</title>
</head>
<body>
    <h1>Sign up</h1>


    <form method="POST" action="/register">
        <label>Username:</label><br>
        <input type="text" name="username"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Password:</label><br>'
        <input type="password" name="password"><br><br>

        <button type="submit">Sign up</button>
    </form>

    <p><a href="/">Home</a></p>
</body>
</html>